body{
  background-color: #FFFBF4;
  color: #554542;
}



#searchbar{
  border: 2px solid #f8937a;
  background-color: #FFFBF4;
  border-radius: 10px;
  font-family: 'ABeeZee';
  color: #f8937a;
  height: 20px;
  margin: 30px;
  margin-left: 55px;
  font-size: 15px;
}

#searchbar:focus {
  border: 2px solid #f8937a;
  outline: none;
}


h1 {
  font-family: 'Playfair Display', serif;
  color: #554542;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

body{
  background-color: #FFFBF4;
  margin: 0; 
 
}

.button-container {
  display: flex;  
  justify-content: flex-start; 
  gap: 60px; 
  padding-left: 55px;
  border-radius: 50px;

}

button {
  width: 200px;
  height: 30px;
  border-radius: 50px;
  background-color: rgba(0, 151, 19, 0.1);
  border: none;
  font-family: 'ABeeZee';
  color: #554542;
  background: rgba(0, 151, 19, 0.1);
  /* background-color: transparent; */
  font-size: 15px;
}

button:hover{
  background-color: #a5c896;
}


.card-container{
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* padding-right: 100px; */
  justify-content: space-around;
  z-index: 1;
}
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 270px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

/* .content{
  margin: 0px;
} */

.flip-card-front {
  background: #FFFBF4;
  color: #554542;
  /* color: #554542; */
}

.flip-card-back{
  background: #FFFBF4;
  color: #554542;
  /* text-wrap: pretty; */
  /* display: flex;
  flex-direction: column; */
  /* padding: 4px; */
  /* padding-top: 20px; */
  /* color: coral; */
  transform: rotateY(180deg);
  /* margin-top: 20px; */
}

#photo{
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 1rem;
}

p{
  font-size: 15px;
  font-family: 'ABeeZee';
}

a{
  text-decoration: none;
}

.footer {
  margin-top: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8937a;
  padding: 20px;
  text-align: center;
  margin-bottom: 0px;
}

.footer-site-name {
  font-size: 28px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: #FFFBF4;
  margin-top: 0px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.footerlink {
  font-size: 18px;
  color: #FFFBF4;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: 'ABeeZee';
}

.footerlink:hover {
  color: #47352D;
}

.logo2{
  width: 100px;
  margin-bottom: 15px;
}

.main-link{
  font-family: 'Playfair Display';
  font-weight: bold;
  color: #FFFBF4;
  font-size: 26px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.main-link:hover {
  color: #47352D;
}

.sub-links{
  display:flex;
  align-items: center;
}

.logo{
  width: 60px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.logo-and-name{
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #F8937A;
  color: #FFFBF4;
}

.small-links{
  padding-left: 20px;
  color: #FFFBF4;
  font-size: 18px;
  transition: color 0.3s ease;
  font-family: 'ABeeZee';
}

.small-links:hover {
  color: #47352D;
}