.titlebox{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.sitetitle{

    font-family: 'Playfair Display';
    color: #554542;
    font-size: 75px;
    width: 800px;
    text-align: center;

}

body{
    background-color: #FFFBF4;
    color: #554542;
}

.mainpage_buttons{
    display: flex;
    justify-content: space-between;
    padding-left: 475px;
    padding-right: 475px;
    padding-bottom: 200px;
}

.mainbutton_design{
    width: 225px;
    height: 90px;
    background-color: transparent;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: #f8937a;
    color: #554542;
}

.prompt{
    font-size: 35px;
}

p{
    z-index: 1;
    text-align: center;
    font-family: 'ABeeZee';
    color: #47352D;
}

.web-des-box{
    display: flex;
    justify-content: space-around;
}

.website-description{
    width: 800px;
    font-size: 17px;
}

a{
    text-decoration: none;
    font-family: 'ABeeZee';
    color: #47352D;
    font-size: 25px;
}

.peach-grad{
    max-width: 400px;
    margin-left: 250px;
    margin-top: 75px;
    position:absolute;
    z-index:-1;
}

.green-grad{
    max-width: 300px;
    margin-left: 800px;
    margin-top: 225px;
    position:absolute;
    z-index:-1;
}